---
import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/700.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource-variable/jetbrains-mono";
import "../styles/global.css";
import SeoHead from "../components/seo-head.astro";

interface Props {
  title: string;
  description: string;
  keywords?: string[];
  type?: "website" | "profile";
}

const { title, description, keywords, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SeoHead
      title={title}
      description={description}
      keywords={keywords}
      type={type}
    />
  </head>
  <body
    class="bg-bg-base text-border-dark font-body antialiased overflow-x-hidden"
  >
    <slot />
  </body>
</html>
